<%- include ('./partials/header') %>
<body>
  <%- include ('./partials/navbar') %>
  <div class="container">
    <div class="card" id="frm">
      <div class="card-header">
        <h3>Faça sua Pergunta</h3>
      </div>
      <div class="card-body">
        <form method="POST" action="/send">
          <div class="form-group">
            <label>Título</label>
            <input type="text" placeholder="Título" class="form-control" name="title" />
          </div>
          <div class="form-group">
            <label>Descrição</label>
            <textarea
              placeholder="Descreva sua pergunta aqui"
              class="form-control"
              name="desc"
            ></textarea>
          </div>
          <button class="btn btn-primary" type="submit" value="Submit">Enviar</button>
          <a href="/" class="btn btn-primary">Voltar</a>
        </form>
      </div>
    </div>
  </div>
</body>
<%- include ('./partials/footer') %>
